<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>vue增删，操作数据</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>

	<body>
		<div id="app">
			<button class="btn" @click="addFn">{{btn}}</button>
			<ul>
				<!--<li v-for="(item,index) of list" v-bind:key="index" v-on:click="delFn(index)">{{item}}部分</li>-->
				<li-item 
					v-for="(item,index) in list"   
					:key="index"   
					v-bind:content="item" 
					:index="index"
					@dell="delFn"
				>
				</li-item>
			</ul>
		</div>
	</body>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
</html>